
        /* html,
        body {
            min-height: 100%;
        } */

        /* body, */
        .testbox div,
        .testbox form,
        .testbox input,
        .testbox textarea,
        .testbox p {
            padding: 0;
            margin: 0;
            outline: none;
            font-family: Roboto, Arial, sans-serif;
            font-size: 14px;
            color: #666;
            line-height: 22px;
        }

        .child h1 {
            /* position: absolute; */
            margin: 0;
            font-size: 36px;
            color: black;
            text-align: center;
            /* z-index: 2; */
        }

        .testbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            padding: 20px;
            width: 50%;
            margin: 0 auto;

        }
        .child{
            width: 100%;
            height: 100%;
            margin: auto;
        }

        .testbox form {
            width: 100%;
            padding: 20px;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0 0 20px 0 #333;
        }

   

        .testbox input,
        .testbox textarea
         {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .testbox input {
            width: calc(100% - 10px);
            padding: 5px;
        }

       

        .testbox textarea {
            width: calc(100% - 12px);
            padding: 5px;
        }

        .child >.item:hover p,
        .child > .item:hover i,
        .child > .item input:hover::placeholder {
            color: #333;
        }

        .child > .item input:hover,
        .child > .item textarea:hover {
            border: 1px solid transparent;
            box-shadow: 0 0 6px 0 #333;
            color: #333;
        }

        .child > .item {
            /* position: relative; */
            margin: 10px 0;
        }

       

        div.btn-block {
            margin-top: 10px;
            text-align: center;
        }

        .btn-block button {
            width: 150px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background: #444;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }

        .btn-block button a {
           
      
            color: #fff;
         
        }
        


        .btn-block button:hover {
            background: #666;
        }

        @media (min-width: 568px) {

            .name-item
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .name-item input{
                width: calc(100% - 10px);
            }

           
        }
    